body {
    margin: 0;
    padding: 0;
}

.container{
    width: 570px;
    border: 1px solid aqua;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}



.logo{
    object-fit: contain;
    width: 160px;
}

.user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}