body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

.container{
    width: 570px;
    margin: 0 auto;
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #EDEDED;
}

.logo{
    object-fit: contain;
    width: 160px;
}

.user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/*Post user info and location*/
.postprofile{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.postprofile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-info{
    line-height: 5px;
}

.username{
    font-weight: 700;
}

.location{
    font-size: 15px;
}

.post-pic{
    width: 100%;
    display: block;
}

/*Post footer*/

.icons{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
    margin-top: 20px;
}

.icons img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.post-info{
    padding: 0 15px;
}

.likes-count, .username-caption{
    font-weight: 700;
}

.post-info p {
    margin: 8px;
}